<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.anas.hci.repository.UserRepository">
    <resultMap id="baseResult"
               type="com.anas.hci.model.entity.User"
               autoMapping="true"/>
    <sql id="baseCol">
        id,name,group_id
    </sql>
    <sql id="insertCol">
        name,group_id
    </sql>
    <insert id ="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user
        (
        <include refid="insertCol" />
        )
        VALUES (
            #{username},
            #{groupId}
        )
    </insert>
</mapper>